body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
}
h1,h2{
    text-align: center;
    text-shadow: 0cap;
}
.cupcake {
    display: flex;
}

.flex5 {
    /* flex : 1 */
}

.flex2 {
    flex : 2
}

.pl1 {
    padding-left: 1em;
}

.img {
    align-self: flex-start;
    height: auto; 
    max-width: 100%;
}


.cupcake_box {
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
}

.cupcake1 {
    background-color: #9c9330;
}

.cupcake2 {
    background-color: red;
}

.cupcake3 {
    background-color:orange;
}

.blue {
    background-color: grey;
}